{% extends "base.html" %}

<head>
    {% block title %} 
    <title> Album - Naveed Hasan </title>
    {% endblock %}
    {% block style %} 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/album.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="http://127.0.0.1:3000/static/styles/album.css">     -->
    {% endblock %}
</head>
<!-- <body> -->
    {% block content %}
    <div class="content">
        <div class="details-section">
            <h1> {{album_details.album_name}} </h1>
            <label class="album-date"> Created on {{album_details.date}} </label>
            <p class="description"> {{album_details.description}} </p>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('updatealbum', album_name=album_details.album_name)}}"> 
                    <button id="button"> Update album </button>
                </a>
            {% endif %}
            <hr>
        </div>

        <div class="photos-section">
            {% for url in photo_urls %}    
            <div class="photo-box">
                <a href="{{ url }}" target="_blank"> <img src="{{ url }}" alt="Photo"/> </a>
            </div>
            {% endfor %}
        </div>
    </div>

    {% endblock %}
<!-- </body> -->