@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

* {
    font-family: "montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color)
}

:root{
    --bg-color: #fef6e4;
    --text-color: #172c66;
    --highligh-color: #001858;
    --container-color: #8bd3dd;
    --secondary-color: #f582ae;
    --navbar-color: #f3d2c1;
    --notification-color: red;
}

body {
    background-color: var(--bg-color);
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 500;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    z-index: 200;
    background-color: var(--navbar-color);
}

.navbar .logo {
    width: 25%;
    font-family: cursive;
    margin-left: 20px;
    text-align: left;
}

.navbar .logo a{
    font-family: "Rock Salt", cursive;
    font-weight: 900;
}

.navbar .links {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
}

/* copied from W3 school */

.dropdown-button {
    font-size: inherit;
    font-weight: inherit;
    background-color: inherit;
    border: none;
    outline: none;
    color: inherit;
}

.dropdown-content {
    display: none;
    position: absolute;
    /* right: 0; */
    /* top: 20%; */
    z-index: 1;
    /* min-width: 20%; */
    padding-top: 20px;
    padding-bottom: 20px;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content a {
    padding: 10px 20px 10px 10px;
    max-height: 50px;
    display: flex;
    align-items: center;
    transition: font-weight 0.2s ease-in-out;
    background-color: var(--bg-color);
}

.dropdown-content a:hover {
    font-weight: 700;
} 

.dropdown-icon {
    display: block;
    transform: scale(.5);
    padding-top: 15px;
}

/* end copy */

.message {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#button {
    width: 100%;
    max-width: 200px;
    height: 40px;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 2%;
    padding: 0 10px 0 10px;
    margin: 10px;
    transition: font-weight 0.2s ease-in-out;
}

#button:hover{
    font-weight: 700;
}

@media (max-width: 700px) {
    .navbar {
        font-size: 1.1rem;
        font-weight: 450;
    }
}

@media (max-width: 560px) {
    .navbar {
        font-size: 1rem;
    }
}

@media (max-width: 490px) {
    html {
        font-size: 14px;
      }

    .navbar {
        /* font-size: .9rem; */
    }
}

@media (max-width: 450px) {
    .navbar {
        font-size: .8rem;
    }
}

